.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
}

.logo-container {
  background-color:#432616;
  min-height: 290px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;

}

.heading {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: roboto;

}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 24px;
  }
}

.and {
  color: #61dafb;
}

.tagline {
  font-size: 14px;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .tagline {
    font-size: 18px;
  }

}

.left-top {
  border: 3px;
  width: 5px;
  background-color: aquamarine;
  position: absolute;
  margin: 20px;
}